URL_ACCESS_IBM={URL-API}/v3/translate?version=2018-05-01; # IBM service access url, it should look like this: {URL-API}/v3/translate?version=2018-05-01
URL_PROXY_CORS=https://cors-anywhere.herokuapp.com/; # Limited to 200 hits every 60 minutes, however you can create yours following the steps of the sideshowbarker at the link https://stackoverflow.com/questions/43262121/trying-to-use-fetch-and-pass-in-mode- without color
